section#carousel {
  height: 60vh;
  max-height: 60vh;
  padding-top: 3rem;
  overflow-y: hidden;
  background: url("../../../../assets/image/tigran-kharatyan-MvkpAOX329A-unsplash.jpg"),
    linear-gradient(
      180deg,
      rgba(90, 90, 90, 0.91) 0%,
      rgba(90, 90, 90, 0.95) 100%
    );
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

h1.title {
  background-color: var(--biru);
  color: white;
  font-weight: 800;
}
