<section id="our_partner">
    <!-- Heading -->
    <div class="container">
        <div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <app-heading-typograph [Heading]="'Our Partner'"></app-heading-typograph>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
            <marquee direction="right" class="pt-2">
                <img src="../../../../assets/image/partner/aabe-1-150x90.jpg" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/agr.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/download-2-128x80.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/formula.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/hadep.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/JS-Denki_logo-250x80.jpg" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/nabertherm.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/phase.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/spectro.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/Titan-225x80.jpg" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/zhermack.png" alt="" class="mx-2">
                <img src="../../../../assets/image/partner/zwick_sl-logo.gif" alt="" class="mx-2">
            </marquee>
        </div>
    </div>
</section>