<section id="our_product">
    <!-- Heading -->
    <div class="row mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <app-heading-typograph [Heading]="'Our Product'"></app-heading-typograph>
        </div>
    </div>

    <div *ngFor="let item of Product; let i = index" class="row justify-content-center align-items-center">
        <div *ngIf="i % 2 == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bg_product"
                    [ngStyle]="{'background-image': 'url('+ item.image +')'}">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" data-aos="fade-left">
                    <app-card-product [CardProduct]="item"></app-card-product>
                </div>
            </div>
        </div>
        <div *ngIf="i % 2 != 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" data-aos="fade-right">
                    <app-card-product [CardProduct]="item"></app-card-product>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bg_product"
                    [ngStyle]="{'background-image': 'url('+ item.image +')'}">
                </div>
            </div>
        </div>

    </div>
</section>