<app-landing-page>
    <!-- Carousel -->
    <app-section-carousel></app-section-carousel>

    <!-- Who We Are -->
    <app-section-who-we-are></app-section-who-we-are>

    <!-- Our Product -->
    <app-section-our-product></app-section-our-product>

    <!-- Our Partner -->
    <app-section-our-partner></app-section-our-partner>

    <!-- Job Opportunity -->
    <app-section-job-opportunity></app-section-job-opportunity>

    <!-- Event -->
    <app-section-event></app-section-event>
</app-landing-page>