<app-landing-page>
    <section id="product_per_brand">
        <div class="container">

            <!-- Heading -->
            <div class="row mb-4">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <app-heading-typograph [Heading]="DetailKategori ? DetailKategori.kategori : ''">
                    </app-heading-typograph>
                </div>
            </div>

            <div class="row justify-content-center align-items-center">
                <div *ngFor="let item of Brand" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center mb-5">
                    <div class="card shadow-sm border-0 bg-transparent">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <p class="brand_title mb-2">
                                        {{ item.brand }}
                                    </p>
                                    <p class="brand_keterangan">
                                        {{ item.keterangan }}
                                    </p>
                                    <button class="btn btn-biru" type="button" (click)="handleClickBrand(item)">
                                        See Detail
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</app-landing-page>