<section id="job_opportunity" class="vh-50">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center" data-aos="fade-left">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 job_opportunity_header">
                <h3 class="text-white fw-bold">
                    Job Opportunity,
                </h3>
                <h3 class="text-white fw-bold">
                    Employee Facility & Environment
                </h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 job_opportunity_body">
                <button class="btn btn-job-opportunity btn-sm shadow-sm border-0 mb-2" type="button">
                    <img src="../../../../assets/image/email.svg" alt="" style="height: 1.5rem; padding-bottom: 2px;">
                    &nbsp;Join With Us
                </button>
                <p class="text-white">
                    Company’s most important resource is its people.
                </p>
            </div>
        </div>
    </div>
</section>