<section id="who_we_are">
    <div class="container">
        <!-- Heading -->
        <div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <app-heading-typograph [Heading]="'Who We Are'"></app-heading-typograph>
            </div>
        </div>

        <!-- Content -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="../../../../assets/image/undraw_appreciate_it_qnkk.svg" alt="" class="img_who_we_are first"
                    data-aos="fade-right">
                <img src="../../../../assets/image/undraw_well_done_re_3hpo.svg" alt="" class="img_who_we_are second"
                    data-aos="fade-right">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" data-aos="fade-left">
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="text_who_we_are">
                            PT DS Solutions Int­ernational was incorporated in 2010 as an exclusive distributor for
                            several
                            renown companies (Our Principles) with a wide range of very high quality and innovative
                            products
                            ranging from Cold Storage Containers, Dental Materials & Equipments, Testing Equipments and
                            including Machineries in several significant industries. We have many years experience in
                            providing
                            the support with better innovation to every customer we work with. Along with the support of
                            our
                            partners, we are also able to create new concepts and adaptive solutions to current times
                            and
                            situations.
                        </p>
                    </div>
                </div>
                <div class="row mb-3" data-aos="fade-right">
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card border-0 shadow-sm card_detail_who_we_are">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <img src="../../../../assets/image/send.png" alt=""
                                            class="img_detail_who_we_are">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="text_detail_who_we_are mb-1">
                                            Our Vision
                                        </p>
                                        <p class="text_child_detail_who_we_are mb-0">
                                            To be a world-class provider of innovative and unique products that would
                                            improve specific as well as overall performance and focusing to be the
                                            choice of the future.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" data-aos="fade-left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card border-0 shadow-sm card_detail_who_we_are">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <img src="../../../../assets/image/mission.png" alt=""
                                            class="img_detail_who_we_are">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="text_detail_who_we_are mb-1">
                                            Our Mission
                                        </p>
                                        <p class="text_child_detail_who_we_are mb-0">
                                            To build long term relationships with our customers and clients. To provide
                                            exceptional customer services by pursuing business through innovation and
                                            advanced technology.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-aos="fade-right">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card border-0 shadow-sm card_detail_who_we_are">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <img src="../../../../assets/image/values.png" alt=""
                                            class="img_detail_who_we_are">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="text_detail_who_we_are mb-1">
                                            Core Values
                                        </p>
                                        <p class="text_child_detail_who_we_are mb-0">
                                            We believe in treating our partners and customers with Respect and
                                            Integrity. Leading to business growth through honesty and mutual benefit
                                            with the correct business ethics.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>