<section id="section_footer" class="bg-black">
    <div class="container h-100">
        <div class="row h-75 mb-3">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 div_footer_copyright mb-4">
                <h5 class="text-white fw-bold">
                    PT. DS SOLUTIONS INTERNATIONAL
                </h5>
                <p class="text-white">
                    We have many years experience in providing the support with better innovation to every customer we
                    work with. Along with the support of our partners, we are also able to create new concepts and
                    adaptive solutions to current times and situations.
                </p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-2">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center mb-4">
                        <h5 class="text-white mb-4 fw-bold">Pages</h5>

                        <p class="text-white">Home</p>
                        <p class="text-white">Product</p>
                        <p class="text-white">Event</p>
                        <p class="text-white">About Us</p>
                        <p class="text-white">Contact</p>
                        <p class="text-white">Careers</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center mb-4">
                        <h5 class="text-white mb-4 fw-bold">Demos</h5>

                        <p class="text-white">Classic</p>
                        <p class="text-white">Boxy</p>
                        <p class="text-white">Gradient</p>
                        <p class="text-white">Minimal</p>
                        <p class="text-white">Night</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-4">
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="text-white mb-4 fw-bold">Resource</h5>
                    </div>
                </div>

                <div class="row text-center justify-content-center">
                    <div class="col-2">
                        <img src="../../../assets/image/icon-instagram.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/image/icon-twitter.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/image/icon-dribbble.svg" alt="">
                    </div>
                    <div class="col-2">
                        <img src="../../../assets/image/icon-envato.svg" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="row align-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 div_footer_copyright">
                <p class="text-white">
                    Copyright © 2022 TRIJUNA PRATAMA
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row justify-content-end">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <p class="text-white">
                            Privacy Policy
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <p class="text-white">
                            Terms of Use
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <p class="text-white">
                            GDPR
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>